@import "src/view/common/style/responsive.scss";

$topMargin: 7vh;

@mixin contentMaxHeight {
    $offset: 3vh;
    height: 100vh - $topMargin - $offset;
}

.page_layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: $topMargin;

    @include smartphone_style {
        margin-top: $topMargin/3;
    }
}

.navigation_bar_layout {
    height: 20vw;
    width: 10em;
    min-height: 15vh;

    @include tablet_style {
        width: 4em;
    }

    @include smartphone_style {
        display: none;
    }
}

.content {
    overflow-y: auto;
    padding-right: 1vw;
    padding-left: 1vw;
    width: 60vw;
    @include contentMaxHeight;

    @include tablet_style {
        width: 80vw;
        padding-left: 0;
    }

    @include smartphone_style {
        width: 100vw;
        padding: 0;
    }
}

.yohaku{
    height: 20vw;
    width: 10em;
    min-height: 15vh;

    @include tablet_style {
        width: 4em;
    }

    @include smartphone_style {
        display: none;
    }
}