.page_layout {
    display: flex;
    align-items: stretch;
    margin-top: 7vh;
}

.navigation_bar_layout {
    flex-basis: 20%;
    height: 15vh;
    min-width: 20%;
    max-width: 20%;
    margin-left: 7vw;
}