$topMargin: 7vh;

@mixin contentMaxHeight {
    $offset: 3vh;
    height: 100vh - $topMargin - $offset;
}

.page_layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: $topMargin;
}

.navigation_bar_layout {
    height: 20vw;
    width: 10em;
    min-height: 15vh;
}

.content {
    overflow-y: auto;
    padding-right: 1vw;
    padding-left: 1vw;
    width: 60vw;
    @include contentMaxHeight;
}