$border_color: black;

.user_profile_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: thin solid $border_color;
    padding: -0.1vw;
    box-sizing: border-box;
}

.user_profile_page_middle_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -10%;
}

.user_profile_page_textarea {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.self_introduction_area {
    margin-top: 1vh;
    flex-basis: 20vh;
}

.user_name {
    font-size: 1.7em;
}

.profile_change_btn {
    width: 30%;
    height: 15%;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 1vh;
}

.icon_image {
    width: 20%;
    height: auto;
    border-radius: 50%;
    background-color: $border_color;
    z-index: 100;
    border: 0.2vw solid $border_color;
}

.cover_image { 
    box-sizing: content-box;
    width: 100%;
    height: auto;
    z-index: 1;
    background-color: $border_color;
    border-bottom: 0.1vw solid $border_color;
}

.profile_detail {
    width: 100%;
}
