

.user_profile_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 80%;
}

.user_profile_page_middle_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -11%;
}

.user_profile_page_textarea {
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.self_introduction_area {
    flex-basis: 20vh;
}

.profile_change_btn {
    width: 30%;
    height: 15%;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 1vh;
}

.icon_image {
    width: 40%;
    height: auto;
    border-radius: 50%;
    margin-right: 1vw;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    z-index: 100;
}

.cover_image {
    width: 100%;
    height: auto;
    z-index: 1;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.profile_detail {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 100%;
}

.yohaku {
    padding-top: 100%;
}