.sign_in_form__top_page {
    display: flex;
    flex-direction: column;    margin: 0 auto;
    text-align: center;
    width: 25vw;
    min-width: 25vw;
    @media screen and (max-aspect-ratio: 1/1) {
        width: 80%;
        min-width: 500px;
    }
}

.top_page_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top_page_layout{
    display: flex;
    align-items: baseline;
}

.navigation_bar_layout {
    flex-basis: 20%;
    height: 15vh;
    flex-grow: 1;
    margin-left: 7vw;
    margin-top: 7vh;
}

.joined_chatroom_list {
    margin-top: 3vh;
}

.entrances {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
