.icon_image {
    width: 100%;
    height: auto;
    border-radius: 50%;
    background-color: black;
    border: 0.2vw solid black;
}

.cropping_icon_image{
    width: 90vw;
    height: 80vh;
}

.crop_popup {
    height: 90vh;
}