.show_create_chatroom_pop_up_button {
  background-color: blue;
  white-space: nowrap;
  width: 10%;
  color: white;
  transition: width 300ms 0s ease;
  box-sizing: border-box;
}

.background {
  background-color: black;
  &:hover {
    .show_create_chatroom_pop_up_button {
      width: 100%;
    }

    cursor: pointer;
  }
}