.navigator_common_style {
    font-size: 1.2em;
    padding: 5%;
    color: blue;
    cursor: pointer;
}

.navigator_common_style:hover{
    background: rgba(94, 199, 241, 0.7);
    border-radius: 30px;
}